.inner {
    margin-top: 110px;
    flex: 1;
}

.author-detail {
    position: fixed;
    width: 14%;
    height: 500px;
    background: cadetblue;
    left: 4%;
    border: solid 2px #9c9c9c;
    border-radius: 15px;
}

.article-detail {
    position: relative;
    width: 55%;
    margin: 0 auto;
    height: 800px;
    background: antiquewhite;
}

.article-navigation {
    position: relative;
    width: 55%;
    height: 80px;
    margin: 20px auto;
    text-align: center;
}

.pre-nav {
    position: relative;
    float: left;
    margin: inherit;
    left: 10%;
}

.next-nav {
    position: relative;
    float: right;
    margin: inherit;
    right: 10%;
}

.comment-relative {
    position: relative;
    width: 55%;
    height: 500px;
    margin: 0 auto 50px;
    background: aqua;
}