.inner {
    margin-top: 110px;
    flex: 1;
}

.author-detail {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.53);
    border: solid #9c9c9c;
    border-left: 0;
    border-right: 0;
}

.author-avatar {
    position: relative;
    width: fit-content;
    height: auto;
    margin: 5px auto;
}

.article-detail {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.article-navigation {
    position: relative;
    width: 50%;
    height: 80px;
    margin: 20px auto;
    text-align: center;
    border-bottom: 2px solid #9c9c9c;
}

.pre-nav {
    position: relative;
    float: left;
    margin: inherit;
    left: 10%;
}

.next-nav {
    position: relative;
    float: right;
    margin: inherit;
    right: 10%;
}

.ck-content {
    min-height: 250px;
}

.comment-relative {
    position: relative;
    width: 50%;
    margin: 0 auto 50px;
}

.comment-textarea {
    position: relative;
    height: auto;
}

.comment-detail {
    position: relative;
    width: 100%;
    cursor: default;
    background: rgba(255, 255, 255, 0.53);
}

.comment-detail ul {
    list-style: none;
}

.comment-box {
    /* border: 2px solid #9c9c9c; */
    /* border-left: 0; */
    /* border-right: 0; */
    padding: 10px 10px 0;
    margin: 15px 0;
    height: auto;
    position: relative;
}

.reply-link {
    position: absolute;
    right: 2%;
    top: 17.5px;
    cursor: pointer;
}

.reply-comment {
    position: relative;
    border-left: 5px solid skyblue;
    padding: 10px 10px 0;
}

.comment-author-avatar {
    position: relative;
    width: fit-content;
}

.comment-content {
    position: relative;
    width: 96%;
    margin: 15px 0;
    padding-left: 35px;
}

.comment-post-time {
    position: relative;
    width: fit-content;
    margin-left: 35px;
}