body {
    margin: 0 0 0 0;
    background: url("/img/bg.png");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img {
    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #337AFC;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all 0.3s ease 0s;
}

.edit-header .back-to-profile a:after {
    background: rgba(0, 0, 0, 0);
}

.user-index .user-info .user-edit .button a:after {
    background: rgba(0, 0, 0, 0);
}

.header .logo a:after {
    background: rgba(0, 0, 0, 0);
}

.footer-content .footer-left .logo a:after {
    background: rgba(0, 0, 0, 0);
}

a:hover:after {
    left: 0;
    width: 100%;
}

header {
    height: 60px;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    font-size: 15px;
    color: #9C9C9C;
    line-height: 60px;
    z-index: 10010;
    top: 0;
    box-shadow: 0 0 5px #666;
}

header .header {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 100px;
    min-width: 1200px
}

header .header .logo {
    margin: auto 0;
}

header .header .nav {
    font-weight: bold;
    font-size: 15px;
    height: 60px
}

header .header .nav a {
    color: #9C9C9C;
    display: block;
    padding: 0 20px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    float: left
}

header .header .nav a:hover {
    color: #FFFFFF
}

header .header .nav .active {
    color: #FFFFFF
}

header .header .header-right a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    height: 60px;
    font-weight: bold;
    color: #9c9c9c;
}

header .header .header-right a:hover {
    color: #FFFFFF
}

header .header .header-right .user-avatar {
    margin: 14px;
    cursor: pointer;
    border-radius: 50%;
}

header .header .header-right .user-avatar img {
    border-radius: 50%;
}


header .header .header-right .user-operator {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px #666;
    background: #ECF0F2;
    width: 85px;
    border-radius: 10px;
    top: 65px;
    right: 84px;
    height: auto;
}

header .header .header-right .user-operator a {
    color: #9c9c9c;
    height: 35px;
}

header .header .header-right .user-operator a:hover {
    color: black;
}

header .header .header-right .user-operator a:hover:after {
    left: 10px;
    width: 80%;
}

footer {
    width: 100%;
    height: 250px;
    background: #282D36;
    color: #6c6c6c;
    position: relative;
    bottom: 0;
}

.footer-content {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
}

.footer-content .footer-left .logo {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 7%;
    left: 376px;
}

.footer-middle {
    position: absolute;
    width: 230px;
    height: 210px;
    top: 7%;
    left: 45%;
}

.footer-right {
    position: absolute;
    width: 230px;
    height: 210px;
    top: 7%;
    left: 72%;
}

.button {
    width: 228px;
    height: 50px;
    border: 0;
    background: rgb(36, 97, 246);
    border-radius: 4px;
    position: absolute;
    left: 42%;
    top: 82%;
    transition: all 0.3s ease 0s;
}

div.button:hover {
    box-shadow: #666 0 0 10px;
}

.bttn {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    width: 228px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    outline: none;
}

.comment-box {
    width: 1050px;
    height: auto;
    margin: 60px auto 60px;
    position: relative;
}

.comment-input {
    margin: 0 auto 60px;
    position: relative;
    height: 200px;
}

.comment-input textarea {
    resize: none;
    width: 1050px;
    height: 100px;
    font-size: 24px;
}

.comment-box ul {
    list-style: none;
    left: -40px;
    position: relative;
    width: 1050px;
}

.comment-box ul li {
    list-style: none;
    margin-bottom: 25px;
    border-bottom: 2px solid #9c9c9c;
    padding-bottom: 10px;
}

.comment-detail {
    width: 1050px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.comment-detail img {
    position: relative;
    width: 100px;
    border-radius: 50%;
}

b.comment-user {
    position: absolute;
    display: inline;
    /*top: -80px;*/
    left: 120px;
}

span.comment-words {
    position: absolute;
    left: 120px;
    top: 35px;
}

span.comment-time {
    position: absolute;
    right: 0;
    top: 70px;
}