.inner {
    margin-top: 110px;
    flex: 1
}

.top-box {
    width: 1355px;
    height: 400px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.daily {
    width: 655px;
    height: 400px;
    position: absolute;
    margin: auto;
    border-radius: 10px
}

.daily-img {
    position: absolute;
}

.img-cover {
    width: 655px;
    height: 400px;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.5) contrast(80%);
}

.daily-words {
    width: 550px;
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 22px;
    line-height: 34px;
    left: 50px;
    top: 175px;
}

.daily-sign {
    width: 200px;
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 13px;
    top: 350px;
    text-align: right;
    left: 402px;
}

.daily-life {
    width: 655px;
    height: 400px;
    position: absolute;
    right: 0;
    cursor: default;
}