.left {
    width: 420px;
    height: 980px;
    overflow: hidden;
    background-image: linear-gradient(135deg, rgb(26, 210, 253) 0%, rgb(0, 138, 255) 100%);
    position: absolute;
    left: 0;
    top: 0;
}

.right {
    width: 1500px;
    height: 980px;
    left: 420px;
    position: absolute;
}

.pic {
    width: 200px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 22%;
    overflow: hidden;
}

.pic .img {
    width: 1200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pic .img img {
    width: 200px;
}

.pic .img li {
    float: left;
}

.pic .num {
    position: absolute;
    width: 100%;
    bottom: 10px;
    right: 0;
    text-align: center;
    font-size: 0;
}

.pic .num li {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
    display: none
}

.pic .num li.on {
    background-color: #ff6a00;
}

.btn {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    display: none;
}

.pic .btn-left {
    background: url("../img/lunbo/left.png");
    left: 0;
}

.pic .btn-right {
    background: url("../img/lunbo/right.png");
    right: 0;
}

.pic:hover .btn {
    display: block;
}

.words {
    width: 420px;
    height: 120px;
    position: absolute;
    top: 535px;
    text-align: center;
}

.thx {
    width: 420px;
    height: 120px;
    position: absolute;
    top: 780px;
    left: 20px;
}

.register_right {
    width: 502px;
    height: 540px;
    position: absolute;
    left: 33%;
    top: 16%;
    display: none;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #666;
}

#login {
    position: absolute;
    top: 60px;
    left: 60px;
}
#register{
    position: absolute;
    top: 60px;
    left: 60px;
}
.logo {
    width: 170px;
    height: 45px;
    position: absolute;
    top: 10%;
    left: 44%;
}

.switch input {
    display: none;
}

#switch {
    height: 30px;
    width: 64px;
    top: 17%;
    left: 58.2%;
    position: absolute;
    transition: all 0.3s ease 0s;
    border-radius: 16px;
    z-index: 1;
}

#switch:hover {
    box-shadow: #666 0 0 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-image: linear-gradient(135deg, rgb(26, 210, 253) 0%, rgb(0, 138, 255) 100%);
    transition: .4s;
    border-radius: 16px;
    width: 64px;
    height: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(30px);
}


.remember {
    position: absolute;

}

.inputbox /*右侧表单input块状显示*/
{
    width: 380px;
    height: 50px;
    border-bottom: 1px solid #9c9c9c;
    position: relative;
    transition: all 0.3s ease 0s;
    border-radius:5px;
}

.tips {
    width: 382px;
    height: 20px;
    border: 0;
    text-align: center;
}

.inputbox:hover {
    box-shadow: #666 0 0 10px !important;
}

.login_right {
    width: 502px;
    height: 300px;
    position: absolute;
    left: 33%;
    top: 16%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #666;
}

.copyright {
    color: #dedede;
    width: 192px;
    height: 22px;
    position: absolute;
    top: 95%;
    left: 43.9%;
}

.inputbox .inputbar /*右侧表单input方框样式*/
{
    height: 48px;
    border: 0;
    outline: medium;
    position: absolute;
    top: 0;
    left: 55px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.inputbox div.block /*注册行左侧蓝色图块*/
{
    width: 50px;
    height: 50px;
    border-right: 0 solid #dedede;
    border-radius: 4px;
}

select {
    transition: all 0.3s ease 0s;
    font-size: 15px;
    letter-spacing: normal;
    border: none;
    outline: none;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    -webkit-appearance: none;
    width: 160px;
    text-align: center;
    text-align-last: center;
}
