<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hurpods.ssm.blog.dao.ArticleDao">
    <resultMap id="ArticleResultMap" type="com.hurpods.ssm.blog.models.Article">
        <id column="article_id" property="articleId" jdbcType="INTEGER"/>
        <result column="article_author_id" property="articleAuthorId" jdbcType="INTEGER"/>
        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR"/>
        <result column="article_view_count" property="articleViewCount" jdbcType="INTEGER"/>
        <result column="article_comments_count" property="articleCommentsCount" jdbcType="INTEGER"/>
        <result column="article_status" property="articleStatus" jdbcType="INTEGER"/>
        <result column="article_create_time" property="articleCreateTime" jdbcType="TIMESTAMP"/>
        <result column="article_update_time" property="articleUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="article_summary" property="articleSummary" jdbcType="VARCHAR"/>
        <result column="has_pic" property="hasPic" jdbcType="TINYINT"/>
        <result column="first_pic_url" property="firstPicUrl" jdbcType="VARCHAR"/>
        <result column="is_error" property="isError" jdbcType="TINYINT"/>
        <collection property="tagList" ofType="com.hurpods.ssm.blog.models.Tag">
            <id column="tag_id" property="tagId" jdbcType="INTEGER"/>
            <result column="tag_name" property="tagName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="getAllArticle" resultMap="ArticleResultMap">
        select article.*, tag.*
        from article,
             tag,
             article_tag_ref as atr
        where article.article_status = 1
          and article.article_id = atr.article_id
          and tag.tag_id = atr.tag_id
        order by article_id DESC
    </select>

    <select id="getArticleById" resultMap="ArticleResultMap">
        select article.*, tag.*
        from article,
             tag,
             article_tag_ref as atr
        where article.article_id = #{articleId,jdbcType=INTEGER}
          and article.article_id = atr.article_id
          and tag.tag_id = atr.tag_id
    </select>

    <delete id="deleteById">
        delete
        from article
        where article_id = #{articleId,jdbcType=INTEGER}
    </delete>

    <delete id="batchDelete" parameterType="list">
        delete from article
        <if test="idList != null">
            where article_id in
            <foreach collection="idList" open="(" close=")" separator="," item="id">
                #{id,jdbcType=INTEGER}
            </foreach>
        </if>
    </delete>

    <insert id="insertArticle" parameterType="com.hurpods.ssm.blog.models.Article" useGeneratedKeys="true"
            keyProperty="articleId">
        insert into article(article_author_id, article_title, article_content, article_status, article_create_time,
                            article_update_time, article_summary, has_pic, first_pic_url, is_error)
        values (#{articleAuthorId,jdbcType=INTEGER},
                #{articleTitle,jdbcType=VARCHAR},
                #{articleContent,jdbcType=LONGVARCHAR},
                #{articleStatus,jdbcType=INTEGER},
                #{articleCreateTime,jdbcType=TIMESTAMP},
                #{articleUpdateTime,jdbcType=TIMESTAMP},
                #{articleSummary,jdbcType=VARCHAR},
                #{hasPic,jdbcType=TINYINT},
                #{firstPicUrl,jdbcType=VARCHAR},
                #{isError,jdbcType=TINYINT})
    </insert>

    <update id="updateArticle" parameterType="com.hurpods.ssm.blog.models.Article">
        update article
        <set>
            <if test="articleTitle!=null">article_title = #{articleTitle,jdbcType=VARCHAR},</if>
            <if test="articleContent!=null">article_content = #{articleContent,jdbcType=LONGVARCHAR},</if>
            <if test="articleViewCount!=null">article_view_count = #{articleViewCount,jdbcType=INTEGER},</if>
            <if test="articleCommentsCount!=null">article_comments_count=#{articleCommentsCount,jdbcType=INTEGER},</if>
            <if test="articleStatus!=null">article_status=#{articleStatus,jdbcType=INTEGER},</if>
            <if test="articleUpdateTime!=null">article_update_time=#{articleUpdateTime,jdbcType=TIMESTAMP},</if>
            <if test="articleSummary!=null">article_summary=#{articleSummary,jdbcType=TIMESTAMP},</if>
            <if test="hasPic!=null">has_pic=#{hasPic,jdbcType=TINYINT},</if>
            <if test="firstPicUrl!=null">first_pic_url=#{firstPicUrl,jdbcType=VARCHAR},</if>
            <if test="isError!=null">is_error=#{isError,jdbcType=TINYINT}</if>
        </set>
        where article_id=#{articleId,jdbcType=INTEGER}
    </update>

    <select id="getArticleCount" resultType="java.lang.Integer">
        select count(*)
        from article
        where article_status = 1
    </select>

    <select id="getArticleView" resultType="java.lang.Integer">
        select sum(article_view_count)
        from article
        where article_status = 1
    </select>

    <select id="getArticleComment" resultType="java.lang.Integer">
        select sum(article_comments_count)
        from article
        where article_status = 1
    </select>

    <select id="getArticleByPage" resultMap="ArticleResultMap">
        select article.*, tag.*
        from article,
             tag,
             article_tag_ref as atr
        where article.article_status = 1
          and article.article_id = atr.article_id
          and tag.tag_id = atr.tag_id
        group by article.article_id
        order by article_id desc
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="getNextArticle" resultMap="ArticleResultMap">
        select article.*, tag.*
        from article,
             tag,
             article_tag_ref as atr
        where article.article_id > #{articleId}
          and article_status = 1
          and article.article_id = atr.article_id
          and tag.tag_id = atr.tag_id
        order by article.article_id
        limit 1
    </select>

    <select id="getPreArticle" resultMap="ArticleResultMap">
        select article.*, tag.*
        from article,
             tag,
             article_tag_ref as atr
        where article.article_id &lt; #{articleId}
          and article_status = 1
          and article.article_id = atr.article_id
          and tag.tag_id = atr.tag_id
        order by article.article_id desc
        limit 1
    </select>

    <update id="updateCommentCount">
        update article
        set article_comments_count=(
            select count(*)
            from comments
            where article_id = comment_article_id
        )
        where article_id = #{articleId,jdbcType=INTEGER}
    </update>
</mapper>